.container {
  text-align: center;
  padding: 10px
}
input {
  padding: 10px;
  border: 0;
  border-bottom: 2px solid rgb(26, 197, 189);
  margin-right: 20px;
}
button {
  padding: 10px;
  background-color: rgb(26, 197, 189);
  border: none;
  color: #fff;
  border-radius: 4px;
}
.book {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.book__img {
  position: absolute;
  width: 220px;
  height: 220px;
  border: 4px solid #000;
  border-radius: 4px;
  object-fit: cover;
}
.book__text {
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: #fff;
  opacity: 0.75;
  width: 200px;
  margin-left: 4px;
  padding: 10px;
  text-align: center;
}